.header {
    background-color: rgb(38, 38, 97);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    align-self: center;
}

.links li {
    display: inline;
    margin-left: 30px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 1200px;
    justify-content: space-between;
}

.header-content img {
    min-width: 550px;
    height: 250px;
}

.header-letter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 20px;
}

.header-letter h1 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 10px;
}

.header-text {
    font-size: 25px;
}

.header-letter button {
    margin-top: 15px;
    height: 30px;
    background-color: rgb(27, 103, 243);
    color: white;
    font-weight: bold;
    border: solid  rgb(27, 103, 243) 3px;
    border-radius: 10px;
    width: 100px;
    font-size: 15px;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.information-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    width: 1200px;
}

.item {
    width: 150px;
    text-align: center;
    
}

.item img {
    width: 150px;
    height: 150px;
    border: solid rgb(27, 103, 243) 3px ;
    border-radius: 10px;
}

.text {
    background-color: rgb(242, 247, 246);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.inspiration {
    text-align: center;
    width: 500px;
    font-size: 30px;
}

.thor {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 1400px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

